/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.main-wrapper {
  position: relative;
  width: 100%;
}
/*
 * Container
 *
 * Center the page content and setting the max-width (default 55em).
 */

.container {
  max-width: 150rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}
@media (min-width: 55em) {
  .container {
    max-width: 100rem;
  }
}
@media (min-width: 50em) {
  .container {
    max-width: 100rem;
  }
}

/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: -18rem;
  width: 18rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
  border: 1px solid #006699;
  background-color: #202020;
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #006699;
  font-size: .99rem; /* 15px */
}
.sidebar p {
  font-weight: normal;
  padding: 1rem;
  text-align: center;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: #191E1E;
  border-color: #006699;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1000;
  top:  5rem;
  left: 1rem;
  display: block;
  width: 2.2rem;
  padding: .6rem .65rem;
  color: #ffffff;
  background-color: #777;
  border-radius: 4px;
  cursor: pointer;
  /*background-image: url(./images/circle-right.svg);*/
}
.sidebar-toggle:hover {
  background-color: #006699;
}
.sidebar-toggle:before {
  display: block;
  content: " ";
  width: 100%;
  padding-bottom: .125rem;
  border-top: .375rem double;
  border-bottom: .125rem solid;

  /* Make the border inside the box */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #006699;
  background-color: #505050;
}

.sidebar img { 
  width: 200px;
  height: 200px;
  margin: 0 auto;   
  border-radius: 90%;
  display: block;
  margin: 0 auto;
}


@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1000;
    width: 2.25rem;
  }
  .sidebar-toggle:before {
    padding-bottom: .15rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
}


/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.main-wrapper,
.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.main-wrapper,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition: transform .4s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .main-wrapper,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(18rem);
      -ms-transform: translateX(18rem);
          transform: translateX(18rem);
}



/*
 * floating 'back to top button'
 *
 */
.wc-top.wc-is-visible {
    visibility: visible;
    opacity: 1;
}
.wc-top, .sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #205081;
}
.wc-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-image: url(./images/top-arrow.svg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #777;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    border-bottom: none;
    border-radius: 2px;
    right: 1em;
    bottom: 2em;
    @include MQ(M) {
    bottom: 4em;
    right: 2em;
    }
}
.wc-top.wc-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.wc-top.wc-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .wc-top:hover {
  background-color: #006699;
  opacity: 1;
}
